#div1{
position:absolute;

		width:100%;
		height:55.5vw;
		background-image:url(img/div1.png);
		background-size:100% 100%;
		z-index:8;
		background-repeat:no-repeat;

  }

#div1_text_bisness{
position:absolute;
line-height: 0.95;
letter-spacing: 0.1vw;
top: 12.2vw;
left:18.5vw;
font-size: 5.5vw;
}
#div1_text_club{
position:absolute;
letter-spacing: 0.15vw;
top: 18.77vw;
left:51vw;
font-size: 3.8vw;
}
#div1_text_money{
width:100%;
text-align:center;
position:absolute;
letter-spacing: 0.1vw;
top: 43vw;
line-height: 1.25;
font-size: 3.1vw;
}

#arrow{
	position:absolute;
	top:35.5vw;
	left:23vw;
	width:auto;
	height:8.5vw;
	z-index:5;
}