#div6{

position:absolute;
top:58vw;

	
		width:100%;
		height:82vw;
		background-color:#fffff7;
		
		z-index:4;

  }
  #div6_text1{
  font-size:4vw;
  position:absolute;
  top: 6.5vw;
  color:#1F1F1F;
 

  }
    #div6_text2{
  font-size:1.8vw;
  text-align:left;
  color:#1F1F1F;


  }
   #div6_text3{
  font-size:2.68vw;
  text-align:left;
  position:absolute;
  top:13.6vw;
  color:#1F1F1F;
  left:7.115vw;
  width:50vw;
  line-height: -1.5;
   
  }

     #div6_text4{
  font-size:2.68vw;
  text-align:center;
  position:absolute;
  top:63.1vw;
  color:#1F1F1F;
 
  line-height: 1.15;
  }

  #div6_frame{
     margin-left: 10vw;
  
  margin-top: 20vw;

  
  width:82vw;
  height:45vw;
  }

  li{
  	  color:#18305a;
	  
	  font-size:1.8vw;
	  line-height: 3.5vw;
  }