#div2{

position:absolute;
top: 54vw;
		background-color:#fffff7;	
		width:100%;
		height:198vw;
	
  }

.div2_frame{
position:inherit;
width:58vw;
height:10.5vw;

border-radius: 0.6vw;


}

.frame1{
top: 92vw;
left:19.5vw;
background-color: #f7e710;
}

.frame2{
width:61vw;
background-color: #84d3ef;
top: 126.3vw;
left:26.8vw;
}

.frame3{
width:65vw;
height:15vw;
background-color: #ffbe42;
top: 158vw;
left:19.5vw;
}

#div2_frametext_1{
position:inherit;
text-align:left;
}

#div2_text_1{
color:#1F1F1F;
position:absolute;
letter-spacing: 0.1vw;
top: 7.6vw;
font-weight: bold;
font-size: 7.4vw;
width:100%;
text-align:center;
z-index:5;
}

#div2_text_2{
position:absolute;
top: 19vw;
}
#div2_nubmer_1{
position:absolute;
top: 23vw;
}

#div2_text_3{
position:absolute;
top: 43.2vw;
}
#div2_nubmer_2{
position:absolute;
top: 53vw;
}
#div2_text_4{
position:absolute;
top: 73.8vw;
}

#div2_nubmer_3{
width:10vw;
text-align: left;
position:absolute;
top: 88.3vw;
left: 11vw;
font-size: 15vw;

}
#div2_nubmer_4{
width:10vw;
text-align: left;
position:absolute;
top: 122.5vw;
left: 15vw;
font-size: 15vw;
}
#div2_nubmer_5{
width:10vw;
text-align: left;
position:absolute;
top: 156vw;
left: 8.5vw;
font-size: 15vw;
}

#div2_ltext1{
color:#1F1F1F;
position:absolute;
top:107vw;
left:0vw;

}
#div2_ltext2{
color:#1F1F1F;
position:absolute;
top:141vw;
left:0vw;
}
#div2_ltext3{
color:#1F1F1F;
position:absolute;
top:177vw;
left:0vw;
}