#div8_5{

position:inherit;
top:230.5vw;
left:0;
right:0;
margin:auto;
		
		width:100%;
		height:52vw;
		z-index:800;
		background-color:#fffbff; 
		 

  }



#div9{

position:inherit;
top:237.5vw;
left:0;
right:0;
margin:auto;
	
		width:70vw;
		height:40vw;
		z-index:1000;
		 
		 

  }
  
  /* Основной блок */
.owl-wrapper-outer {
	
	border: 1px solid #777;
	border-radius: 1px;
	overflow: hidden;
	background: white;
	box-shadow:  0 0 12px rgba(0,0,0,0.9); 

}

/* 1 квадратик карусели */
.carousel-element {
	
	left:0;
	right:0;
	margin:auto;
	width:70vw;
	height:33vw;
	text-align: center;
	font-size: 300%;
	border-right: 1px solid #777;
}
/* Блок с точками */
.owl-pagination {
	position:absolute;
	top: 36vw;
	width:100%;
	
	text-align: center; /* Выравниваем точки по-середине */
	
}
/* 1 Точка */
.owl-page {
	width: 10px;
	height: 10px;
	border: 1px solid #777;
	display: inline-block;
	background: white;
	margin: 10px;
	border-radius: 5px;
}
/* Активная точка */
.owl-page.active {
	background: #777;
}

.pic_all{

		background-size:100% 100%;
		z-index:2;
		background-repeat:no-repeat;
}
.pic1{
	background-image:url(img/div9.png);
		
}
.pic2{
	background-image:url(img/div9_1.png);
		
}
.pic3{
	background-image:url(img/div9.png);
		
}
.pic4{
	background-image:url(img/div9_1.png);
	
}
.pic5{
	background-image:url(img/div9.png);
	
}
.pic6{
	background-image:url(img/div9_1.png);
	
}
.pic7{
	background-image:url(img/div9.png);
	
}

#js-prev{
	
	height:5vw;
	position:absolute;
	top:21vw;
	left:8vw;
	z-index:100;

}

#js-next{
	
		height:5vw;
	position:absolute;
	top:21vw;
	right: 8vw;
	z-index:100;

	
}