#div1{
position:absolute;
		width:100%;
		height:55.5vw;
		background-image:url(img/div1.png);
		background-size:100% 100%;
		z-index:2;
		background-repeat:no-repeat;

  }

#div1_text_bisness{
position:absolute;
line-height: 0.95;
letter-spacing: 0.1vw;
top: 12.2vw;
left:18.5vw;
font-size: 5.5vw;
}
#div1_text_club{
position:absolute;
letter-spacing: 0.15vw;
top: 18.77vw;
left:51vw;
font-size: 3.8vw;
}
#div1_text_money{
width:100%;
text-align:center;
position:absolute;
letter-spacing: 0.1vw;
top: 43vw;
line-height: 1.25;
font-size: 3.1vw;
}

#arrow{
	position:absolute;
	top:35.5vw;
	left:23vw;
	width:auto;
	height:8.5vw;
	z-index:5;
}
#text_test{
	font-size:2.7vw;
color:#1F1F1F;
letter-spacing: 0.2vw;
}

.b1 {
position:absolute;
top:35vw;
left:37.8vw;
  background-color: #ffe033;
  border: 0;
  outline: 0;
  padding: 1vw 4vw;

  font-family: monospace;
  box-shadow: 0px 5px 10px #362c12;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5vw;
  border-bottom: 4px solid #d6ae01;
}
.b1:hover {
  box-shadow: 0px 15px 25px -5px #362c12;;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.b1:active {
  box-shadow: 0px 4px 8px #362c12;;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

#div6_btn{
top:72vw;
left:39vw;
}

.div1vk{
right:0;
  top:8.1vw;
	
	background:url("img/div1_vk.png");
		background-size:102% 102%;
		z-index:99999;
		background-repeat:no-repeat;
border: 1px solid #7d8594; 
}



.div1inst{
top:11.5vw;
  border: 1px solid #7d8594; 
	
	z-index:99999;
		background:url("img/div1_inst.png");
		background-size:102% 102%;
		right:0;
		background-repeat:no-repeat;
}

   .soc2{
   position:absolute;
   cursor:pointer;

width: 3vw;
	height: 2.8vw;
	color:#202020;
	
	border-radius:0.7vw;
	
	
	 font-size:1.5vw;
}

.div1vk:hover{


background-color: rgba(70,130,180,0.7);
}


.div1inst:hover{


background-color: rgba(255,25,71,0.7);
}


  .soc3{
   position:absolute;
   cursor:pointer;
   top:2vw;
   right:0;
width: 7.3vw;
	height: 5.5vw;
	color:#202020;
		background:url("img/webinar.png");
		background-size:102% 102%;
		z-index:99999;
		background-repeat:no-repeat;
border: 1px solid #7d8594; 
	border-radius:1vw;
	
	
	 font-size:1.5vw;
}

.soc3:hover{


background-color: rgba(248,0,0,0.8);
}
#social{

width:10vw;
height:10vw;
position:absolute;
right:1vw;
top:-1vw;

}

.vebinar{
position:absolute;
	font-size:1.2vw;
	width: 7vw;
	top:3.95vw;
	left:0.2vw;
	
	letter-spacing:0.12vw;
	
	color:black;
}